 <header>
<!---------------------------------  Navigation Bar HTML Started--------------------------------------->
        <nav class="navbar navbar-expand-sm bg-light text-muted">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav">
                    <li class="nav-item">
                       <a class="nav-link" href="/"><i class="fas fa-tasks"></i><b><i class="taskr">Tasker</i></b></a>
                    </li>
                  <% if(authtoken){%> 
                     <li class="nav-item active">
                        <a href="/add-task" class="nav-link">Add Task<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a href="/logout" class="nav-link">Logout<span class="sr-only"></span></a>
                    </li>
                   <% } %> 
                </ul>
            </div>
        </nav>

<!--///////////////////////////////  Navigation Bar HTML  Ended//////////////////////////////  -->
    </header>