@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
  
}


 form {
 width: 550px;
 margin: auto;
 position: relative;
}   

/* global variables */
:root{
   --mainfont: Nunito;
   --shadow: 2px 2px 2px black;
    --grey: #d6d6d6;
   
}
body {
   background: rgb(112, 112, 117); 
   font-family: var(--mainfont);
}



.hidden-list {
  display: none;
}
label{
  font-weight: bold;
}
.mtitle {
  margin-left: 40px;
}


.edit-button {
  color:grey;
  float: left;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0px 8px;
  cursor: pointer;
}



#labelAssignedTo{
  color:rgb(65, 121, 158);
}

.btnSave {
  display: flex;
  justify-content: space-evenly;
}
.btnEditSave {
  display: flex;
  justify-content: space-evenly;
}
 
.card-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.delete-button,.deleteButton {
  float: right;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0px 8px;
  cursor: pointer;
}

.btn {
    padding: 0.5rem 1rem;
     border: 0;
}


.no-task-display{
  display: flex;
  height: 80vh;
  width: 85vw;
  margin: 30px;
  border: dotted rgb(207, 202, 202) 2px;
  color:white;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

i{
  color: grey;
}

i:hover{
  color: green;
}
.delete-button:hover {
  color: red !important;
} 


.search-task{
  height: 3em;
  width: 70%;
  margin-left: 10%;
  margin-top: 0.2em;
  color: lightslategray;
  font-weight: bolder;
}

footer{
   position:absolute;
   bottom:0;
   width:100%
}

 .authContainer{
width: 500px;
 margin: 0 auto;
 padding-top: 40px; 
}
.authform{
  margin-top: 40px;
}
.taskr{
  color: #45c493;
}
.taskr:hover{
  color: #eb9563;
}

.btnAuth{
  margin-top: 30px;
}

.title{
  padding-top: 30px;
  color:#ffffff
}

.addcontainer{
  width: 400px;
}

.deleteButton{
  box-shadow: none;
  border:none;
  background-color: transparent;
  
}

 .editButton:focus, .deleteButton:focus {
    box-shadow: none;
    outline:none;
  } 
  .fa-tasks{
    color:#eb9563; 
  }
 
.error{
  color:rgb(139, 27, 27);
  list-style-type: none;
}

.aligncenter{
  padding-left: 80px;
}

.searchTab{
  margin:20px;
  padding: 10px;
  border-radius: 5px;
  width:400px;
}


.hidden{
  display:none;
}
.display{
  display: block;
}
.text-bold {
  font-weight: bolder;
}

.text-white{
  color:white;
}

.text-orange{
  color: #eb9563; 
}

.my-modal{
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:  rgba(0,0,0,0.5);
}

.my-modal-content{
  width: 35%;
  margin: 15% auto;
  padding: 2rem;
  background-color: rgb(112, 112, 117); 
  border-radius: 4px;
  text-align: center;
}