<div class="container addContainer modal-body">
 <h1 class="text-center title">Add a new Task</h1>
    <form id="addform" class="addform" action="/add-task" method="POST" novalidate>
        <div class="form-group">
            <label>Task Name</label>
            <input type="text" class="form-control" id="taskname" name="taskName"placeholder="Task Name">
            <p class="hidden error" id="tasknameEmptyError">Please enter a name</p>   
        </div>
                            
        <div class="form-row">
            <div class="form-group col">
                <label>Assigned To</label>
                <select class="form-control assignedTo" id="assignedTo" name="assignedTo" value="assignedTo">
                    <option value="" selected>Pick SomeOne</option>
                    <option>Nate</option>
                    <option>Arda</option>
                    <option>Max</option>
                </select>
             <p class="hidden error" id="assignedToEmptyError">Please enter an assignedTo</p>      
            </div>
            <div class="form-group col">
                <label>Task Due Date</label>
                <input type="date" class="form-control duedate" id="duedate" name="due_date"
                    class="datepicker">
             <p class="hidden error" id="dueDateEmptyError">Please enter a duedate</p>      
            </div>
            </div>
                <div class="form-group">
                <label>Status</label>
                <select class="form-control status" id="status" name="status">
                    <option value="">Choose the Task Status</option>
                    <option value="To do">To do </option>
                    <option value="In progress">In progress</option>
                    <option value="Review">Review</option>
                    <option value="Done">Done </option>
                </select>
                <p class="hidden error" id="statusEmptyError">Please enter a status</p>      
            </div>
            <div class="form-group">
                <label>Task Description</label>
                <textarea class="form-control desc" id="description" name="description" placeholder="Description"></textarea>
                <p class="hidden error" id="descriptionEmptyError">Please enter a description</p>   
            </div>                       
            <div class="form-group btnSave">
                <button type="submit" class="btn btn-success btn-default btn-lg">Add Task</button>
            </div>
        </form>
    </div>                       

  


<script src="../static/js/addtaskForm.js" defer></script> 

       
                    