
                    <div class="container">
                        <h2 class="text-center title">Edit Task</h2>
                        <form  class="editForm" id="editform" action="/task/edit/<%= task.id %>?_method=PUT" method="POST">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="form-row">
                            <label>Task Name</label>
                            <input type="text" value="<%= task.taskname%>"class="form-control" id="editTaskName" name="taskName"placeholder="Task Name">
                            <p class="hidden error" id="tasknameEmptyError">Please enter a name</p>   
                        </div>
                     
                        <div class="form-row">
                            <div class="form-group col">
                                <label>Assigned To</label>
                                <select class="form-control" id="editAssignedTo" name="assignedTo" value="assignedTo">
                                    <% const taskAssigned = ['Nate','Arda','Max'] %> 
                                        <% taskAssigned.forEach(name => { %> 
                                            <% if(name === task.assignedto) { %> 
                                                 <option selected><%= task.assignedto %> </option>
                                            <% } else { %>
                                                <option><%= name %></option>
                                        <% } %> 
                                    <% }) %>                                          
                                </select>
                                <p class="hidden error" id="assignedToEmptyError">Please enter an assignedTo</p>  
                            </div>
                            <div class="form-group col">
                                <label>Task Due Date</label>
                                <input type="date" name="date_picker" id="date_picker" value="<%= moment(task.duedate).format('YYYY-MM-DD') %>"class="form-control datepicker">
                                <p class="hidden error" id="dueDateEmptyError">Please enter a duedate</p> 
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Status</label>
                            <select class="form-control" id="status" name="status">
                                <% const status = ['To do','In progress','Review','Done'] %> 
                                 <% status.forEach(stat => { %>
                                   <% if (stat === task.status) { %>
                                   <option selected><%= task.status %></option>
                                   <% } else { %>
                                   <option><%= stat %> </option>
                                   <% } %>
                                <% }) %>
                            </select>
                            <p class="hidden error" id="statusEmptyError">Please enter a status</p>
                        </div>
                        <div class="form-row">
                            <label>Task Description</label>
                            <textarea class="form-control" id="editTaskDescription" name="description" rows="3"
                                placeholder="Description" value="description"><%= task.description %></textarea>
                            <p class="hidden error" id="descriptionEmptyError">Please enter a description</p>
                        </div>
                        <div class="modal-footer btnEditSave">
                            <button type="submit" id="edit-submit" class="btn btn-success">Save Changes</button>
                        </div>
                        </form>
                    </div>           

<script src="/static/js/edittaskform.js" defer></script>
