<div class="container authContainer">
  <h1 class="text-center"><b><i class="taskr">Tasker</i></b> login</h1>
 
<form class="form" id="form" action="/password/forgot-password" method="POST" novalidate>
  <div class="form-group">
    <label>Email</label>
    <input type="text" id="email" class="form-control" name="email" value="<%if(email !== '')%><%=email%>" placeholder="Enter email">
    <p class="hidden error <%if(emailEmptyError==='true'){%>display<%}%>" id="emailEmptyError">Please enter an email</p>
    <p class="hidden error <%if(emailInvalidError==='true'){%>display<%}%>" id="emailInvalidError">Email Address has invalid format</p>
    <p class="hidden error <%if(emailNotExistError==='true'){%>display<%}%>" id="emailNotExistError">User with this email address doesn't exist.</p>
    <p class="hidden error <%if(emailNotConfirmedError==='true'){%>display<%}%>" id="emailNotConfirmedError">Please Confirm your email address</p>
  </div>
  <div class="form-group btnAuth col text-center">
    <button type="submit" class="btn btn-info btn-default btn-md"> <b>send password reset email</b></button>
  </div>  
</form>
<div class="text-center ml-3">
  <a href="/register" class="taskr aligncenter">Back to Register</a>
</div>



<%if (modal === 'open') {%>
  <div class="my-modal">
    <div class="my-modal-content">
      <i class="fas fa-tasks"></i><b><i class="taskr"> Tasker</i></b>
      <p class="mb-3">An email has been sent to <%= email%> with further instructions</p>
      <a href="/login"><button class="btn btn-primary shadow d-block mx-auto w-50" type="button">Login</button></a>
    </div>
  </div>
<%}%>

</div>
<script src="../../static/js/pass-forgot.js"></script>
