
<div class="container authContainer">
  <h1 class="text-center"><b><i class="taskr">Tasker</i></b> login</h1>
 
<form class="authform" id="authform" action="/login" method="post" novalidate>
  <div class="form-group">
    <label>Email:</label>
    <input type="email" id="email" class="form-control" name="email" value="<%if(email !== '')%><%=email%>" placeholder="Email">
    <p class="hidden error <%if(emailEmptyError==='true'){%>display<%}%>" id="emailEmptyError">Please enter an email</p> 
    <p class="hidden error <%if(emailInvalidError==='true'){%>display<%}%>" id="emailInvalidError">Email Address has invalid format</p>
    <p class="hidden error <%if(emailNotExistError==='true'){%>display<%}%>" id="emailNotExistError">User with this email address doesn't exist.</p>
    <p class="hidden error <%if(emailNotConfirmedError==='true'){%>display<%}%>" id="emailNotConfirmedError">Please Confirm your email address</p>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" id="password" class="form-control" name="password" placeholder="Password">
    <p class="hidden error <%if(passwordEmptyError==='true'){%>display<%}%>" id="passwordEmptyError">Please enter your password</p>
    <p class="hidden error <%if(passwordInvalidError==='true'){%>display<%}%>" id="passwordInvalidError">Password has Invalid format</p>
    <p class="hidden error <%if(passwordIncorrectError==='true'){%>display<%}%>" id="passwordIncorrectError">Your password is incorrect. Please check</p>
  </div>
  <div class="form-group btnAuth col text-center">
    <button type="submit" class="btn btn-info btn-default btn-md">Login <b>Tasker</b></button>
  </div>  
</form>
<div class="text-center ml-3 aligncenter">
  <span class="text-white">New to Tasker? </span><a href="/register" class="taskr">Create an account</a>
  <p><a href="/password/forgot-password" class="taskr">Forgot Password?</a></p>
</div>
</div>

<script src="../../static/js/log_validation.js"></script>

