<div class="container authContainer">
  <h1 class="text-center">Reset-Password</h1>

<form class="resetform" id="resetform" action="/password/reset-link/<%= token %>" method="POST" novalidate>
  <div class="form-group">
    <label>Password:</label>
    <input type="password" id="password"class="form-control" name="password" placeholder="Password">
    <small class="text-white">Min. 8 chars, one lower and one upper alpha chars, one number, one special character</small>
    <p class="hidden error <%if(passwordEmptyError==='true'){%>display<%}%>" id="passwordEmptyError">Please enter a password</p>  
    <p class="hidden error <%if(passwordInvalidError==='true'){%>display<%}%>" id="passwordInvalidError">Password has Invalid format</p>
  </div>
  <div class="form-group">
    <label>Confirm Password:</label>
    <input type="password" id="confirm_password"class="form-control" name="confirm_password" placeholder="Confirm Password">
     <p class="hidden error <%if(confirmPasswordEmptyError==='true'){%>display<%}%>" id="confirmPasswordEmptyError">Please enter a confirm_password</p>  
    <p class="hidden error <%if(passwordNotMatchingError==='true'){%>display<%}%>" id="passwordNotMatchingError">Passwords donot match</p>
  </div>
  <div class="form-group text-center">
      <button type="submit" class="btn btn-info btn-default btn-md">Reset Password</button>
  </div> 
</form>
<div class="text-center ml-3 aligncenter">
  <span class="text-white">Go to </span><a href="/login" class="taskr">Login</a>
</div>
</div>
<%if (modal === 'open') {%>
  <div class="my-modal">
    <div class="my-modal-content">
      <i class="fas fa-tasks"></i><b><i class="taskr"> Tasker</i></b>
      <p class="mb-3">Your Password has been resetted. Please Login.</p>
      <a href="/login"><button class="btn btn-primary shadow d-block mx-auto w-50" type="button">Login</button></a>
    </div>
  </div>
<%}%>
 
  
<script src="../../static/js/pass_reset.js" defer></script>

