<div class="container authContainer">
  <h1 class="text-center"><b><i class="taskr">Tasker</i></b> Register</h1>
<form class="authform" id="authform" action="/register" method="POST" novalidate>
  <div class="form-group">
    <label>Full Name:</label>
   <input type="text" class="form-control" name="name" id="name" value="<%if(name !== '')%><%=name%>" placeholder="Full Name">
   <p class="hidden error <%if(nameEmptyError==='true'){%>display<%}%>" id="nameEmptyError">Please enter a name</p>    
  </div>
  <div class="form-group">
    <label>Email:</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email"  value="<%if(email !== '')%><%=email%>">
    <p class="hidden error <%if(emailEmptyError==='true'){%>display<%}%>" id="emailEmptyError">Please enter an email</p>  
    <p class="hidden error <%if(emailInvalidError==='true'){%>display<%}%>" id="emailInvalidError">Email has Invalid format.</p>
    <p class="hidden error  <%if(emailExistError==='true'){%>display<%}%>" id="emailExistError">Email already exist in the system.</p>
  </div>
  <div class="form-group">
    <label>Password:</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    <small class="text-white">Min. 8 chars, one lower and one upper alpha chars, one number, one special character</small>
    <p class="hidden error <%if(passwordEmptyError==='true'){%>display<%}%>" id="passwordEmptyError">Please enter a password</p>  
    <p class="hidden error <%if(passwordInvalidError==='true'){%>display<%}%>" id="passwordInvalidError">Password has Invalid format</p>
  </div>
  <div class="form-group">
    <label>Confirm Password:</label>
    <input type="password" class="form-control" id="confirm_password" name="confirm_password"  placeholder="Confirm Password">
      <p class="hidden error <%if(confirmPasswordEmptyError==='true'){%>display<%}%>"  id="confirmPasswordEmptyError">Please enter a  confirm password</p>  
    <p class="hidden error <%if(passwordNotMatchingError==='true'){%>display<%}%>" id="passwordNotMatchingError">Passwords donot match</p>
  </div>
  <div class="form-group text-center">
      <button type="submit" class="btn btn-info btn-default btn-md">Register<b>Tasker</b></button>
  </div>
</form>
<div class="text-center ml-3 aligncenter">
  <span class="text-white">Already have an account? </span><a href="/login" class="taskr">Login</a>
</div>
</div>
<script src="../../static/js/reg_validation.js"></script>
