<!-- Section  to display the added task card in the list started  -->
        <section class='container'>
            <div class="text-center">
                    <form action="/search" method="GET">
                        <input type="search" name="search_query"class="searchTab" placeholder="search for task name or status" >
                    </form>
            </div> 
             <% if(tasks.length>0){ %>
            <h2 class="text-center title">All tasks</h2>
            
            <ul id="taskDisplayList" class="list-inline row">
              <% tasks.forEach((task) => { %>              
                <li class="list-item  col-lg-4">
                    <div class="card text-left mt-4 text-muted" id="newtaskCard">
                        <div class="card-header h4" id="labelAssignedTo">
                            <span>Assigned to: <%=task.assignedto %> </span>  
                        </div>
                        <div class="card-body">
                            <h4 class="card-title mark"><%= task.taskname %></h4>
                            <p class="card-text "><%= task.description %></p>
                            <div class="card-id">
                                  <button class="btn editButton"> <a href="/task/edit/<%= task.id %>"><i class="fas fa-edit edit-button mt-2"></i></a></button>
                                   <form style="display: inline;" action="/task/delete/<%= task.id %>?_method=DELETE" method="POST"> 
                                        <input type="hidden" name="_method" value="DELETE"> 
                                        <button type="submit" class="deleteButton"><i class="fas fa-trash-alt delete-button mt-3"></i></button>
                                </form>
                            </div>
                        </div>
                         <div class="card-footer text-danger">
                            <span>Task due in <%= remainingDays(task.duedate);  %> </span>
                        </div> 
                    </div>
                    </div>
                </li>
                <% }); %>
            </ul>
            </section>
            <% } else { %> 
                <section class="container">
                    <div class="no-task-display">
                        <h1> NO TASK TO DISPLAY</h1>
                    </div>
                </section>
            <%  } %> 
       
           
            

