<div class="container">
 <h2 class="text-center title"><%= topic %> </h2>
 <p class="text-center text-bold text-orange" style="font-size:40px;"> <%= msg %> </p>
 <div class="text-center ml-3 aligncenter">
  <button onclick="window.location.href='/login'" class="text-white text-bold btn btn-info btn-default btn-lg">Go to Login</button>
  
</div>
</div>